################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/AdminLTE.NETCore/obj/AdminLTE.NETCore.csproj.nuget.dgspec.json
/src/AdminLTE.NETCore/obj/Debug/netcoreapp3.0
